@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles */

@layer base {
  body {
    font-family: 'League Spartan', sans-serif;
  }
}

@layer components {
  .btn-primary {
    @apply bg-[#f9a826] text-[#2b2d42] px-8 py-3 rounded-lg hover:bg-[#ffc04d] transition font-bold;
  }
}
